In [1]:
import pandas as pd

In [2]:
# Ler arquivo de dados meteorologicos
df = pd.read_excel('/home/franciele/Projetos/dados-dengue/Dados/notificacoes_dengue_bahia_2001_2017.xlsx', head=[0, 1, 2, 3, 4])

# Visualizando dados
print(df.head())

   MUNCODDV        MUNNOME  DT_NOTIF  QTDE_NOTIF   Ano
0   2902104          Araci  20010101           3  2001
1   2904100        Boquira  20010101           2  2001
2   2906907      Caravelas  20010101           1  2001
3   2916906        Itiruçu  20010101           7  2001
4   2921104  Medeiros Neto  20010101           6  2001

In [3]:
# Removendo colunas
df = df.drop(columns=['MUNCODDV', 'Ano'])

# Visualizando dados
print(df.head())

         MUNNOME  DT_NOTIF  QTDE_NOTIF
0          Araci  20010101           3
1        Boquira  20010101           2
2      Caravelas  20010101           1
3        Itiruçu  20010101           7
4  Medeiros Neto  20010101           6

In [4]:
# Alterando o nome das colunas
df.columns = ['municipio', 'data', 'quantidade_notificacao']

# Visualizando dados
print(df.head())

       municipio      data  quantidade_notificacao
0          Araci  20010101                       3
1        Boquira  20010101                       2
2      Caravelas  20010101                       1
3        Itiruçu  20010101                       7
4  Medeiros Neto  20010101                       6

In [5]:
# Visualizando os tipos dos dados contidos no data frame
df.dtypes

municipio                 object
data                       int64
quantidade_notificacao     int64
dtype: object

In [8]:
import pandas as pd

# Convertendo para data
df['data'] = df['data'].astype('datetime64')

# Visualizando dados
print(df.head())

       municipio       data  quantidade_notificacao
0          Araci 2001-01-01                       3
1        Boquira 2001-01-01                       2
2      Caravelas 2001-01-01                       1
3        Itiruçu 2001-01-01                       7
4  Medeiros Neto 2001-01-01                       6

In [9]:
# Visualizando os tipos dos dados contidos no data frame
df.dtypes

municipio                         object
data                      datetime64[ns]
quantidade_notificacao             int64
dtype: object

In [10]:
# Formatando a coluna data
df['data'] = df.data.dt.strftime('%d/%m/%Y')

# Visualizando dados
print(df.head())

       municipio        data  quantidade_notificacao
0          Araci  01/01/2001                       3
1        Boquira  01/01/2001                       2
2      Caravelas  01/01/2001                       1
3        Itiruçu  01/01/2001                       7
4  Medeiros Neto  01/01/2001                       6

In [11]:
import sys
sys.path.append("..")
from Utils import normalizarNome

In [12]:
# Normalizando nome do municipio
df['municipio'] = df['municipio'].map(normalizarNome.normalizar_nome)

# Visualizando dados
print(df.head())

       municipio        data  quantidade_notificacao
0          ARACI  01/01/2001                       3
1        BOQUIRA  01/01/2001                       2
2      CARAVELAS  01/01/2001                       1
3        ITIRUCU  01/01/2001                       7
4  MEDEIROS NETO  01/01/2001                       6

In [13]:
# Lista única de municípios do data frame
lista_municipios = df.municipio.unique()

# Visualizando tamanho da lista
print(lista_municipios.size)

# Visualizando lista de municípios
print(lista_municipios)

49
['ARACI' 'BOQUIRA' 'CARAVELAS' 'ITIRUCU' 'MEDEIROS NETO' 'SALVADOR'
 'BRUMADO' 'CAMPO ALEGRE DE LOURDES' 'FEIRA DE SANTANA' 'IBITIARA' 'LAJE'
 'MUCURI' 'PORTO SEGURO' 'PRADO' 'RAFAEL JAMBEIRO' 'CANAVIEIRAS'
 'EUCLIDES DA CUNHA' 'ITABUNA' 'MUTUIPE' 'RIBEIRA DO POMBAL' 'SERRINHA'
 'SITIO DO QUINTO' 'ANTAS' 'IBICARAI' 'ITABERABA'
 'LIVRAMENTO DE NOSSA SENHORA' 'RIO DO ANTONIO' 'UBAIRA' 'UNA'
 'NOVA VICOSA' 'TAPEROA' 'VITORIA DA CONQUISTA' 'LAURO DE FREITAS'
 'PLANALTINO' 'SIMOES FILHO' 'CAEM' 'COARACI' 'CONCEICAO DA FEIRA'
 'IBOTIRAMA' 'IPIAU' 'JACOBINA' 'CICERO DANTAS' 'IPUPIARA' 'ITAJUIPE'
 'MUNDO NOVO' 'PEDRO ALEXANDRE' 'URUCUCA' 'BAIXA GRANDE' 'FATIMA']

In [14]:
# Lista única de datas do data frame
lista_datas = df.data.unique()

# Visualizando tamanho da lista
print(lista_datas.size)

# Visualizando lista de datas
print(lista_datas)

9
['01/01/2001' '02/01/2001' '03/01/2001' '04/01/2001' '05/01/2001'
 '06/01/2001' '07/01/2001' '08/01/2001' '09/01/2001']

In [18]:
# Verificando se há dados não numéricos
print(df.isna().sum())

municipio                 0
data                      0
quantidade_notificacao    0
dtype: int64

In [19]:
# Verificando se há dados nulos
print(df.isnull().sum())

municipio                 0
data                      0
quantidade_notificacao    0
dtype: int64

In [20]:
# Salvando dados do dataframe em um arquivo .csv
df.to_csv('saidaNotificacoesDengue.csv')